body,p,h1,h2,h3,h4,h5,h6,pre,dl,dd,ul,ol{
	margin:0;
	padding:0;
	list-style:none;
}
body{
	font-family:"宋体";
	font-size:12px;
}
input{
	border:none;
	outline:none;
}
a{
	text-decoration:none;
}
iframe{
	width:100%;
}